<section class="section2">
  <div class="section2__container">
    <div class="section2__circle"></div>
    <div class="section2__autor">
      <h4>Autor</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi iusto
        accusamus repellat, ut magnam.
      </p>
    </div>
  </div>
  <div class="section2__aside">
    <ul class="section2__aside--sec">
      <li>Seccion 1</li>
      <li>Seccion 2</li>
      <li>Seccion 3</li>
      <li>Seccion 4</li>
      <li>Seccion 5</li>
    </ul>
    <ul class="section2__aside--cat">
      <li>Categoria 1</li>
      <li>Categoria 2</li>
      <li>Categoria 3</li>
      <li>Categoria 4</li>
      <li>Categoria 5</li>
    </ul>
  </div>
</section>
