<section class="section2">
  <div class="section2__circle"></div>
  <div class="section2__autor"></div>
  <div class="section2__aside">
    <div class="section2__aside--sec">
      <p>Seccion 1</p>
      <p>Seccion 2</p>
      <p>Seccion 3</p>
      <p>Seccion 4</p>
      <p>Seccion 5</p>
    </div>
    <div class="section2__aside--cat">
      <p>Categoria 1</p>
      <p>Categoria 2</p>
      <p>Categoria 3</p>
      <p>Categoria 4</p>
      <p>Categoria 5</p>
    </div>
  </div>
</section>
