<section class="section1">
  <article>
    <div class="text1">
      <h3>Titulo del post</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        laudantium illo non corrupti iste fuga ipsa! Rerum, tenetur soluta
        distinctio pariatur, nostrum iusto hic tempore cum sit beatae quaerat
        consequatur!
      </p>
    </div>
  </article>
  <article>
    <div class="text2">
      <h3>Titulo del post</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        laudantium illo non corrupti iste fuga ipsa! Rerum, tenetur soluta
        distinctio pariatur, nostrum iusto hic tempore cum sit beatae quaerat
        consequatur!
      </p>
    </div>
  </article>
  <article>
    <div class="text3">
      <h3>Titulo del post</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi
        laudantium illo non corrupti iste fuga ipsa! Rerum, tenetur soluta
        distinctio pariatur, nostrum iusto hic tempore cum sit beatae quaerat
        consequatur!
      </p>
    </div>
  </article>
</section>
